body, html{
    height: 100%;
}
h1  {
    color:whitesmoke;
    text-align: center;
    border:5px solid white;
    transition: all 1s;
}
    h1:hover{
        transform:scale(1.05);  
}
#json-result{
    height:100px;
    width:100%;
    border:1px solid black;
    background-color: #111;
    color:lime;
}
.rect{
    margin-right: 50px;
    transition: all 1s;
    
}
.rect:hover { opacity: 0.5; }
.rect:hover{
  transform:scale(1.05);  
}



